* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background-color: #faddad;
}
main {
  padding: 4vw 0;
  text-align: center;
  /*overflow: hidden;*/
  min-height: 92vh;
  border: 1px solid blue;
}

nav {
  background-color: #baddad;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 4vw;
}

.book-img {
  max-height: 10em;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}

.books {
  margin-bottom: 5vw;
}

/*.books a {
  width: 70%;
}*/
